.ReactModalPortal > div { //target element of react portal (our modal) and targeting specifically the div with no class names (and that are direct descendants)
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open { //need to target modifier that handles what happens to the portal once it is open in order to fade back in
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close { //now with extra prop in modal, will be able to see fade-out working correctly
  opacity: 0;
}

.modal {
  background: $light-blue;
  color: white;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;
}

.modal__title {
  margin: 0 0 $m-size 0;
}
.modal__body {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 $l-size 0;
  word-break: break-all; //ensures long entries are broken in to many lines
}
