//this  is the style making up the options list and the add option input
//Widget
.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}
//Widget Header
.widget-header {
  background:$blue;
  color: $off-white;
  display: flex;  //distributes everything from left to right instead of top to bottom
  justify-content: space-between; //push everything to sides and distribute space between them
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}

.widget__message { //challenge: remember to use naming convention
  color: $off-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
  border-bottom: 1px solid lighten($light-blue, 10%); //can use pixel here but scaling set up so .1rem = 1px
}
